<a href="{{ project.url | relative_url }}" class="project-card">
  <div class="project-card-image">
    <img src="{{ project.image }}" alt="{{ project.title }}">
  </div>
  <div class="project-card-content">
    <div class="project-card-title">{{ project.title }}</div>
    {% if project.researcher %}
      <div class="project-card-researcher">researcher: {{ project.researcher }}</div>
    {% endif %}
    {% if project.summary %}
      <div class="project-card-summary">{{ project.summary }}</div>
    {% endif %}
  </div>
</a>
