---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

{% capture member_pubs %}
  {% for c in site.data.citations %}
    {% assign authors_str = c.authors | join: ";" %}
    {% assign match = false %}
    {% for alias in aliases %}
      {% if authors_str contains alias %}
        {% assign match = true %}
      {% endif %}
    {% endfor %}
    {% if match %}
      {% include citation.html lookup=c.id style="rich" %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% if member_pubs contains "citation-container" %}
  <div style="display: flow-root;">
    <h2>Publications</h2>
    {{ member_pubs }}
    <p class="center">
      <a href="{{ 'publication/' | relative_url | uri_escape }}">
        See all publications on the Publication page
      </a>
    </p>
  </div>
{% endif %}
